
.image-container {
    position: relative;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: -20px;
    width: 100%;
}